{% extends "default.twig" %}

{% block content %}
  <div class="row">
    {% for item in list %}
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        {{ item.user_id }}: {{ item.experience }}
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}